name: Build & Push Backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Backend Image
        run: docker build -t samithspalan/deployment-backend:latest .

      - name: Push Backend Image
        run: docker push samithspalan/deployment-backend:latest
      - name: Debug Secrets
  run: |
    echo "Username: ${{ secrets.DOCKER_USERNAME }}"
    echo "Password length: ${#${{ secrets.DOCKER_PASSWORD }}}"